<p-toast></p-toast>
<p-table #dt [value]="entityHeaders" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
         [(selection)]="selectedEntityHeaders" [rowHover]="true" dataKey="id"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" style="margin: 4px" (click)="openNew()"></button>
    </tr>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">Name</th>
      <th pSortableColumn="address">Adress</th>
      <th pSortableColumn="phone">Phone</th>
      <th pSortableColumn="templates">Templates</th>
      <th pSortableColumn="users">Users</th>
      <th pSortableColumn="email">Email</th>
      <th pSortableColumn="city">City</th>
      <th pSortableColumn="country">Country</th>


      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entityHeader>
    <tr>
      <td>
        <p-tableCheckbox [value]="entityHeader"></p-tableCheckbox>
      </td>
      <td>{{entityHeader.name}}</td>
      <td>{{entityHeader.address}}</td>
      <td>{{entityHeader.phone}}</td>
      <td>{{entityHeader.template}}</td>
      <td>{{entityHeader.users}}</td>
      <td>{{entityHeader.email}}</td>
      <td>{{entityHeader.city}}</td>
      <td>{{entityHeader.country}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEntityHeader(entityHeader)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEntityHeader(entityHeader)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog [(visible)]="entityHeaderDialog" [style]="{width: '450px'}" header="Entity header Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="entityHeader.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !entityHeader.name">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="address">Address</label>
      <input type="text" pInputText id="address" [(ngModel)]="entityHeader.address" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !entityHeader.address">address is required.</small>
    </div>
    <div class="p-field">
      <label for="phone">Phone</label>
      <input type="text" pInputText id="phone" [(ngModel)]="entityHeader.phone" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !entityHeader.phone">Phone is required.</small>
    </div>
    <div>
      <label for="name">Template</label>
      <p-dropdown [options]="templates" [(ngModel)]="entityHeader.template" placeholder="Select Template" optionLabel="name">
      </p-dropdown>
    </div>
    <div>
      <label for="name">Users</label>
      <p-dropdown  [options]="users" [(ngModel)]="entityHeader.users" placeholder="Select Users" optionLabel="name">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input type="text" pInputText id="email" [(ngModel)]="entityHeader.email" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !entityHeader.email">Email is required.</small>
    </div>
    <div class="p-field">
      <label for="city">City</label>
      <input type="text" pInputText id="city" [(ngModel)]="entityHeader.city" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !entityHeader.city">City is required.</small>
    </div>
    <div class="p-field">
      <label for="country">Country</label>
      <input type="text" pInputText id="country" [(ngModel)]="entityHeader.country" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !entityHeader.country">Country is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEntityHeader()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


