<p-toast></p-toast>
<div class="flex justify-content-between flex-wrap card-container purple-container">
  <button pButton pRipple label="Създаване на запис" class="p-button-text" style="margin: 4px" (click)="openNewDialog()"></button>
  <button pButton pRipple type="button" (click)="showInfoDialog()" icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined"></button>
</div>
<div class="card card-width-table">
 <p-table [value]="entityHeaders" selectionMode="single" (onRowSelect)="onRowSelectEntityHeader($event)" >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Ине</th>
        <th pSortableColumn="address">Адрес</th>
        <th pSortableColumn="phone">Телефон</th>
        <th pSortableColumn="templates">Темплейти</th>
        <th pSortableColumn="users">Име на потребител</th>
        <th pSortableColumn="email">Имейл</th>
        <th pSortableColumn="city">Град</th>
        <th pSortableColumn="country">Държава</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entityHeader>
      <tr [pSelectableRow]="entityHeader">
        <td>{{entityHeader.name}}</td>
        <td>{{entityHeader.address}}</td>
        <td>{{entityHeader.phone}}</td>
        <td>{{entityHeader.template.name}}</td>
        <td>{{entityHeader.users.name}}</td>
        <td>{{entityHeader.email}}</td>
        <td>{{entityHeader.city}}</td>
        <td>{{entityHeader.country}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEntityHeader(entityHeader)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEntityHeader(entityHeader)" ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog [(visible)]="entityHeaderDialog" [style]="{width: '450px'}" header="Детайли на меню" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Име</label>
      <input type="text" pInputText id="name" [(ngModel)]="entityHeader.name" required autofocus />
      <small class="p-invalid" *ngIf="submittedEntityHeader && !entityHeader.name">Името е задължително.</small>
    </div>
    <div class="p-field">
      <label for="address">Адрес</label>
      <input type="text" pInputText id="address" [(ngModel)]="entityHeader.address" required autofocus />
      <small class="p-invalid" *ngIf="submittedEntityHeader && !entityHeader.address">Адресът е задължителен.</small>
    </div>
    <div class="p-field">
      <label for="phone">Телефон</label>
      <input type="text" pInputText id="phone" [(ngModel)]="entityHeader.phone" required autofocus />
      <small class="p-invalid" *ngIf="submittedEntityHeader && !entityHeader.phone">Телефонният номер е задължителен.</small>
    </div>
    <div>
      <label for="name">Темплейт</label>
      <p-dropdown [options]="templates" [(ngModel)]="entityHeader.template" placeholder="Избери темплейт" optionLabel="name">
      </p-dropdown>
    </div>
    <div>
      <label for="name">Потребители</label>
      <p-dropdown  [options]="users" [(ngModel)]="entityHeader.users" placeholder="Избери потребител" optionLabel="name">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="email">Имейл</label>
      <input type="text" pInputText id="email" [(ngModel)]="entityHeader.email" required autofocus />
      <small class="p-invalid" *ngIf="submittedEntityHeader && !entityHeader.email">Имейлът е задължителен.</small>
    </div>
    <div class="p-field">
      <label for="city">Град</label>
      <input type="text" pInputText id="city" [(ngModel)]="entityHeader.city" required autofocus />
      <small class="p-invalid" *ngIf="submittedEntityHeader && !entityHeader.city">Градът е задължителен.</small>
    </div>
    <div class="p-field">
      <label for="country">Държава</label>
      <input type="text" pInputText id="country" [(ngModel)]="entityHeader.country" required autofocus />
      <small class="p-invalid" *ngIf="submittedEntityHeader && !entityHeader.country">Държавата е задължителна.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Отказ" icon="pi pi-times" class="p-button-text" (click)="hideEntityHeaderDialog()"></button>
    <button pButton pRipple label="Запазване" icon="pi pi-check" class="p-button-text" (click)="saveEntityHeader()"></button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="entityLineDialog" [closeOnEscape]="false" [style]="{width: '1280px'}" header="Entity line Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success" style="width: 96px; padding: 12px 28px" (click)="openNewEntityLineDetails()"></button>
    <p-table #dt [value]="entitylines" [rows]="10" [paginator]="true" [rowHover]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="itemName">Item name</th>
          <th pSortableColumn="price">Price</th>
          <th pSortableColumn="quantity">Quantity</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entityline>
        <tr>
          <td>{{entityline.item.name}}</td>
          <td>{{entityline.price}}</td>
          <td>{{entityline.quantity}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEntityLineDetails(entityline)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEntityLineDetails(entityline)"></button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="entityLineDetailsDialog" [closeOnEscape]="false" [style]="{width: '450px'}" header="Entity line Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Item</label>
      <p-dropdown  [options]="items" [(ngModel)]="entityline.item" placeholder="Select Item" optionLabel="name">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="price">Price</label>
      <input type="number" pInputText id="price" [(ngModel)]="entityline.price" />
    </div>
    <div class="p-field">
      <label for="quantity">Quantity</label>
      <input type="number" pInputText id="quantity" [(ngModel)]="entityline.quantity" />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEntityLineDetailsDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEntityLineDetails()" ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog header="Как се създава меню" [closeOnEscape]=true [(visible)]="displayInfoDialog" position="top" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Екранът "Меню" служи за добавяне на записи, които ще се визулаизират в генерираното меню. Ресторантът може да добави своят асортимент с няколко клика.</p>
  <ul>
    <li>Стъпка 1: Избира се бутона Създаване на запис</li>
    <li>Стъпка 2: В появилият се диалог се попълва информация за Менюто</li>
    <li>Стъпка 3: Избирате бутонът Запази</li>
  </ul>
</p-dialog>



