<p-toast></p-toast>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-image src="/assets/logo-removebg-preview.png" width="150px" height="50px"></p-image>
  </div>

  <div class="p-toolbar-group-end">
    <div class="flex align-content-center flex-wrap card-container yellow-container">
      <div class="flex align-items-center justify-content-center">
        <label  *ngIf="loggedUser && isLoggedIn" style="margin-right: 8px">
          <strong>{{loggedUser.name}} {{loggedUser.lastname}}</strong>
        </label>
      </div>
      <div class="flex align-items-center justify-content-center">
        <button (click)="op.toggle($event)" pButton type="button" icon="pi pi-user"
                class="p-button-rounded p-button-outlined account-btn"></button>
      </div>
    </div>
  </div>
</p-toolbar>

<p-splitter [panelSizes]="[10,90]">
  <ng-template pTemplate="">
    <div class="flex justify-content-between flex-wrap card-container purple-container">
    <button pButton pRipple type="button"  (click)="showInfoDialog()" label="За нас" class="p-button-info p-button-text absolute bottom-0 left-2  text-blue-500 font-bold border-round  "
            style="min-width: 120px; min-height: 50px; "></button>
    </div>
    <p-menu [model]="items"></p-menu>
  </ng-template>
  <ng-template pTemplate="">
    <router-outlet>
    </router-outlet>
  </ng-template>
</p-splitter>
<p-dialog header="ShareMenu" [closeOnEscape]=true [(visible)]="showDialog" position="top" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <ul>
    <p>Автор: Латин Валентинов Ненчев,
      номер на проект : 21,
      Участие в НОИТ 2022/2023</p>
    <p>Проектът е реализиран с идеята да подпомогне в ресторантьорският бранш.</p>
    <p>Кодът е публичен и е достъпен за всеки в <a href="https://github.com/lati12/ShareMenu.git"class="button">GitHub</a></p>
  </ul>
</p-dialog>




<!--User drop down overlay menu-->
<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="rowOverlayMenu">
      <button (click)="router.navigate(['profile']); op.hide()" pButton type="button" label="My profile"
              class="p-button-secondary p-button-text button-user-dropdown">
        <em class="pi pi-user-edit primary"></em>
      </button>
    </div>
    <div class="rowOverlayMenu">
      <button (click)="logout(); op.hide()" pButton type="button" label="Logout"
              class="p-button-secondary p-button-text button-user-dropdown">
        <em class="pi pi-sign-out primary"></em></button>
    </div>
  </ng-template>
</p-overlayPanel>
