 <div class="grid" style="margin-left: 48px">
    <div class="col">
      <p-dropdown [options]="entityheaders" [(ngModel)]="sharemenu.entityHeader" placeholder="Select Entity Header" optionLabel="name">
      </p-dropdown>
    </div>
    <div class="col">
      <p-dropdown [options]="socialproviders" [(ngModel)]="sharemenu.socialNetworkProvider" placeholder="Select Social Provider" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="grid">
    <div class="col">
      <button pButton pRipple label="Generate file" icon="pi pi-check" class="p-button-text" (click)="generateFile()"></button>
    </div>
    <div class="col">

    </div>
  </div>
