<div class="flex justify-content-between flex-wrap card-container purple-container">
  <button pButton pRipple type="button" (click)="showInfoDialog()" icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined"></button>
</div>

<div class="formgroup-inline" style="margin-left: 48px">
    <div class="field">
      <label for="entityheader">Изберете меню</label>
      <p-dropdown [options]="entityheaders" [(ngModel)]="sharemenu.entityHeader" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Изберете меню">
        <ng-template>
          <div class="p-invalid" *ngIf="sharemenu.entityHeader.name">
            <div>{{sharemenu.entityHeader.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field">
      <label for="socialprovider">Изберете социална мрежа</label>
      <p-dropdown [options]="socialproviders" [(ngModel)]="sharemenu.socialNetworkConnectivity" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Изберете социална мрежа">
        <ng-template>
          <div class="p-invalid" *ngIf="sharemenu.socialNetworkConnectivity">
            <div>{{sharemenu.socialNetworkConnectivity}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="grid">
    <div class="col-offset-2">
      <p-dialog [(visible)]="spinnerDialog" position="center" [modal]="true" [style]="{width: '20vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false">
        <h3> Изчакайте докато се генерира файлът.</h3>
        <p-progressSpinner></p-progressSpinner>
      </p-dialog>
      <button pButton pRipple label="Генериране на файл"  class="p-button-text" (click)="generateFile()">
      </button>
      <button pButton pRipple label="Споделяне" class="p-button-text" (click)="shareMenu()">
      </button>
    </div>
  </div>

<p-dialog header="Генериране на файл" [closeOnEscape]=true [(visible)]="displayInfoDialog" position="top" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Екранът "ShareMenu" служи за генерирането и споделянето на дадено меню в социалните мрежи.</p>
  <ul>
    <li>Стъпка 1: Избира се от подащият списък менюто, което искаме да генерираме</li>
    <li>Стъпка 2: С натискане на бутона се генерира файл </li>
  </ul>
</p-dialog>

