<p-toast></p-toast>
<div class="card card-width-table">
  <p-table #dt [value]="socialProviders" [rows]="10" [paginator]="true"
           [rowHover]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <button pButton pRipple label="Създаване на запис"  class="p-button-text" style="margin: 4px" (click)="openNew()"></button>
      </tr>
      <tr>
        <th pSortableColumn="name">Име</th>
        <th pSortableColumn="accessToken">Access Token</th>
        <th pSortableColumn="refreshToken">Refresh Token</th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-socialProvider>
      <tr>
        <td>{{socialProvider.name}}</td>
        <td>{{socialProvider.accessToken}}</td>
        <td>{{socialProvider.refreshToken}}</td>

        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editSocialProviders(socialProvider)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSocialProviders(socialProvider)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="socialProvidersDialog" [style]="{width: '450px'}" header="Детайли на социална мрежа" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Име</label>
      <input type="text" pInputText id="name" [(ngModel)]="socialProvider.name" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !socialProvider.name">Името е задължително.</small>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="accessToken">Access token</label>
        <input type="text" pInputText id="accessToken" [(ngModel)]="socialProvider.accessToken" required autofocus/>
        <small class="p-invalid" *ngIf="submitted && !socialProvider.accessToken">AccessToken е задължителен.</small>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="refreshToken">Refresh token</label>
          <input type="text" pInputText id="refreshToken" [(ngModel)]="socialProvider.refreshToken" required autofocus/>
          <small class="p-invalid" *ngIf="submitted && !socialProvider.refreshToken">RefreshToken е задължителен.</small>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Отказ" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Запазване" icon="pi pi-check" class="p-button-text" (click)="saveSocialProvider()"></button>
  </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


