<p-toast></p-toast>
<div class="flex justify-content-between flex-wrap card-container purple-container">
  <button pButton pRipple label="Създаване на запис" class="p-button-text" style="margin: 4px" (click)="openNewDialog()"></button>
  <button pButton pRipple type="button" (click)="showInfoDialog()" icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined"></button>
</div>

<div class="card card-width-table">
  <p-table #dt [value]="itemCategories" [rows]="10" [paginator]="true" [rowHover]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Име</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemcategory>
      <tr>
        <td>{{itemcategory.name}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="OpenEditDialog(itemcategory)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(itemcategory)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Детайли" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Име</label>
      <input type="text" pInputText id="name" [(ngModel)]="itemCategory.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !itemCategory.name">Полето е задължително.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Отказ" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Запазване" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog header="Как се създава категория" [closeOnEscape]=true [(visible)]="displayInfoDialog" position="top" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Екранът "Артикули" служи за добавяне на записи, които ще се визулаизират в генерираното меню. Категорията може да добави своят асортимент с няколко клика.</p>
  <ul>
    <li>Стъпка 1: Избира се бутона Създаване на запис</li>
    <li>Стъпка 2: В появилият се диалог се попълва информация за артикула</li>
    <li>Стъпка 3: Избирате бутонът Запази</li>
  </ul>
</p-dialog>


